@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");
body {
    margin: 0;
    padding: 0;
    background: teal;
}



#id {
    color: whitesmoke;
}

@media screen and (max-width: 992px) {
.header {
    height: 100%;
    width: 100%;
    margin-top: 10%;
    text-align-last: center;
    font-size: 2rem;
    font-family: "Cairo", sans-serif;
    color: white;
}
}

@media screen and (max-width: 600px) {
  body {
    background-color: olive;
    color: white;
  }
    
    .header {
    height: 100%;
    width: 100%;
    margin-top: 5%;
    text-align-last: center;
    font-size: 0.5rem;
    font-family: "Cairo", sans-serif;
    color: white;
}
    
}
